.hoverRed:hover{
    border: 2px solid tomato;
    border-radius: 10px;
    color: tomato;
    font-size: 2.1rem;
}

.hoverGreen:hover{
    border: 2px solid teal;
    border-radius: 10px;
    color: teal;
    font-size: 2.1rem;
}

.hoverRoxo:hover{
    border: 2px solid royalblue;
    border-radius: 10px;
    color: royalblue;
    font-size: 2.1rem;
}

.borderRed{
    border-top: 2px solid tomato;
}
.borderGreen{
    border-top: 2px solid teal;
}
.borderRoxo{
    border-top: 2px solid royalblue;
}

#tomato{
    background-color:tomato ;
}

.tomato2{
    color: tomato;
}
.verde2{
    color: teal;
}
.roxo2{
    color: royalblue;
}

#verde{
    background-color: teal;
}

#roxo{
    background-color: royalblue;
}
