
.links-container{
    position: absolute;
    gap: 32px;
    top: 0;
    right: 0;
    left: 70%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateX(100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all 1s;
    width: auto;
    display: flex;
}



.socialLinks{
    display: flex;
    gap: 5%;
    padding-top: 15%;
}

.borderRed{
    border-top: 2px solid tomato;
}
.borderGreen{
    border-top: 2px solid teal;
}
.borderRoxo{
    border-top: 2px solid royalblue;
}


.links-container a{
    color: #ffff;
    font-weight: 500;
    padding: 7%;
    transition: font-size .3s ease-in-out;
    
}

.hoverRed:hover{
    border: 2px solid tomato;
    border-radius: 10px;
    color: tomato;
    font-size: 2.1rem;
}

.hoverGreen:hover{
    border: 2px solid teal;
    border-radius: 10px;
    color: teal;
    font-size: 2.1rem;
}

.hoverRoxo:hover{
    border: 2px solid royalblue;
    border-radius: 10px;
    color: royalblue;
    font-size: 2.1rem;
}
.menu-burger-container.active ~.links-container{
    opacity: 1;
    transform: translateX(0%);
}

.menu-burger-container {
    height: 36px;
    width: 36px;
    position: absolute;
    right: 2%;
    top: 3%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.menu-burger, .menu-burger::before, .menu-burger::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #c0c0c0;
    height: 4px;
    width: 36px;
    border-radius: 5px;
    transition: all 1s;
}

.menu-burger::before{
    transform: translateY(-12px);
}
.menu-burger::after{
    transform: translateY(12px);
}

.menu-burger-container.active .menu-burger {
    background-color: transparent;
}

.menu-burger-container.active .menu-burger::before {
    transform: rotate(45deg);
}
.menu-burger-container.active .menu-burger::after {
    transform: rotate(-45deg);
}


.config{
    display: grid;
    place-self: end;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
    padding-right: 4%;
    place-content: end;
    margin-top: 15%;
}
.config button{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    transition: .3s ease-in-out;
}
.config button:hover{
    transform: scale(1.3);
}


@media (max-width:1000px) {
    .links-container{
        position: absolute;
        display: flex;
        gap: 32px;
        top: 0;
        right: 0;
        left: 50%;
        bottom: 0;
    }
}

@media (max-width:600px) {
    .links-container{
        position: absolute;
        display: flex;
        gap: 32px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
@media (max-width:320px) {
    .socialLinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
}
