.home {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    text-align: center;
    width: 100%;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.home__text {
    font-size: 2.25rem;
    color: #c0c0c0;
}

.home__name {
    font-size: 4rem;
    font-weight: bold;
}

.home__photo{
    width: 361px;
    height: 364px;
}


@media (max-width:960px){
    .home{
        display: flex;
        flex-direction: column;    
        align-items: center;
        gap: 64px;
        width: 100%;
    }
    .home__text{
        display: flex;
        justify-content: center;
    }
}

/* MOBILE */
@media (max-width:640px){
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20%;
    }
    .home__text{
        display: flex;
        justify-content: center;
    }
    .home__photo{
        width: 90%;
        height: 90%;
    }
}
 @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #home {

    height: auto;
    padding: 10%;
  } 
  
  