#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    height: auto;
    width: 100%;
    padding: 2%;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3vh;
}

.section_title {
    font-size: clamp(4rem, 7vw, 10rem);

    color: #c0c0c0;
    font-weight: 300;
}

.border_title {
    content: "";
    width: 40%;
}

.projeto_img {
    height: 200px;
    width: 300px;

}

.slide-in-left{
    animation: slide-in-left 0.8s forwards;
    animation-delay: 0.8s;
}

.slide-in-right{
    animation: slide-in-right 0.8s forwards;
    animation-delay: 0.8s;
}


.projetoContainer {
    display: flex;
    width: 100%;
    gap: 3vw;
    padding-left: 5vw;
}

.projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.projetoName {
    font-size: 2.5rem;
    font-size: clamp(2rem, 1.5vw, 2.5rem);
    font-weight: 500;
}

.projetoDescription {
    font-size: clamp(1rem, 1.5vw, 1.8rem);
    color: #c0c0c0;
    max-width: 70%;
    height: auto;
    word-wrap: break-word;
}


@media (max-width:700px) {
    #projetos {
        gap: 8vh;
    }

    .projetoContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0;
    }

    .projects {
        gap: 5vh;
    }

    .projeto {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 2vh;
    }

    .projetoDescription {
        max-width: 95%;
        text-align: center;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}