*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
}

.tomato{
    background-color:tomato ;
}

.tomato2{
    color: tomato;
}

.verde{
    background-color: teal;
}

.roxo{
    background-color: royalblue;
}
