*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollBlue::-webkit-scrollbar-track {
    background: #BCC2E5;
  }
  
 .scrollBlue::-webkit-scrollbar-thumb {
    background: #3347B0;
  }
  
 .scrollBlue::-webkit-scrollbar-thumb:hover {
    background: #3347B0;
  }

  .scrollRed::-webkit-scrollbar-track {
    background: RGB(255, 218, 185);
  }
  
 .scrollRed::-webkit-scrollbar-thumb {
    background: tomato;
  }
  
 .scrollRed::-webkit-scrollbar-thumb:hover {
    background: tomato;
  }

  .scrollGreen::-webkit-scrollbar-track {
    background: #90EE90;
  }
  
 .scrollGreen::-webkit-scrollbar-thumb {
    background: teal;
  }
  
 .scrollGreen::-webkit-scrollbar-thumb:hover {
    background: teal;
  }