

body{
    height: 100vh;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

header{
height: 10%;
display: flex;
justify-content: space-between;
align-items: center;
}

main{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
