body{
    height: 100vh;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
height: 10%;
display: grid;
place-content: center end;
}

main{
    background-color: bisque;
    height: 90%;
}
