html{
    scroll-behavior: smooth;
}



body{
    height: 100vh;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
}

header{
height: 10%;
display: flex;
justify-content: space-between;
align-items: center;
}

main{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 16px;
    bottom: 16px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    opacity: .3;
    transition: opacity .5s ;
}
.back:hover{
    opacity: 1;
}